<main class="main mt-5">

  <div class="text-center">
    <h1>{{ title }}</h1>
    <h2>Séance TP 1</h2>
    <p class="bg-info text-dark text-success">{{ resume }}</p>
  </div>

  <p></p>

  <div class="card-container text-center">
    <div class="row">
      <div class="col-xs-12 ">
        <h2>Liste étudiants</h2>
        <ul>
          <app-etudiant [nomEtu]="'Jean'" [prenomEtu]="'Dupont'" [statutEtu]="'présent'"></app-etudiant>
          <app-etudiant [nomEtu]="'Marie'" [prenomEtu]="'Martin'" [statutEtu]="'absent'"></app-etudiant>
          <app-etudiant [nomEtu]="'Paul'" [prenomEtu]="'Bernard'" [statutEtu]="'présent'"></app-etudiant>
        </ul>
        <button class="btn btn-success" [disabled]="!estAuth" (click)="rendTousPres()">Tous présents</button>
        <input type="text" class="form-control" [(ngModel)]="commentaireSeance" placeholder="Ecrivez un commentaire"> 
        <p>Voilà votre commentaire : {{ commentaireSeance }}</p>
      </div>
    </div>
  </div>



</main>
<router-outlet />